
Debug/SDLTutorial.exe

Debug/SDLTutorial.ilk

ipch/sdltutorial-8e9ce88b/sdltutorial-55a1c1c3.ipch

Debug/SDLTutorial.pdb

SDLTutorial.sdf

SDLTutorial.sln

SDLTutorial.suo

SDLTutorial/Debug


SDLTutorial/SDLTutorial.vcxproj.user

SDLTutorial/SDLTutorial.vcxproj.filters

SDLTutorial/SDLTutorial.vcxproj

README.md.bak
SDLTutorial.opensdf
Debug/tests.exe
Debug/tests.ilk
Debug/tests.pdb
tests/tests.vcxproj
tests/tests.vcxproj.filters
tests/tests.vcxproj.user
tests/Debug/cl.command.1.tlog
tests/Debug/CL.read.1.tlog
tests/Debug/CL.write.1.tlog
tests/Debug/link-cvtres.read.1.tlog
tests/Debug/link-cvtres.write.1.tlog
tests/Debug/link.13796-cvtres.read.1.tlog
tests/Debug/link.13796-cvtres.write.1.tlog
tests/Debug/link.13796.read.1.tlog
tests/Debug/link.13796.write.1.tlog
tests/Debug/link.command.1.tlog
tests/Debug/link.read.1.tlog
tests/Debug/link.write.1.tlog
tests/Debug/mt.command.1.tlog
tests/Debug/mt.read.1.tlog
tests/Debug/mt.write.1.tlog
tests/Debug/rc.command.1.tlog
tests/Debug/rc.read.1.tlog
tests/Debug/rc.write.1.tlog
tests/Debug/sdlcontrol.obj
tests/Debug/spaceInvadersTests.obj
tests/Debug/tests_manifest.rc
tests/Debug/tests.Build.CppClean.log
tests/Debug/tests.exe.embed.manifest
tests/Debug/tests.exe.embed.manifest.res
tests/Debug/tests.exe.intermediate.manifest
tests/Debug/tests.lastbuildstate
tests/Debug/tests.log
tests/Debug/tests.write.1.tlog
tests/Debug/vc100.idb
tests/Debug/vc100.pdb
